/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@400;500;600;700&display=swap');

/* Font variables */
:root {
  --font-playpen-arabic: "Montserrat", sans-serif;
}

.font-playpen-arabic {
  font-family: var(--font-family, var(--font-playpen-arabic));
}

/* Language-specific fonts */
html[lang="en"] {
  font-family: var(--font-family, var(--font-playpen-arabic));
}

html[lang="ar"] {
  font-family: var(--font-family, var(--font-playpen-arabic));
}

[dir="ltr"] {
  font-family: var(--font-family, var(--font-playpen-arabic));
}

[dir="rtl"] {
  font-family: var(--font-family, var(--font-playpen-arabic));
}